<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
    <body>
        <!-- Modal Start-->
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">CommentModify</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <!-- Modal Body-->
              <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modifyName" placeholder="url" >
                    <label for="floatingInput">NickName</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="modifyComment" style="height: 70px" ></textarea>
                    <label for="floatingTextarea2">Cheer Comment</label>
                </div>
              </div>
                <!-- Modal Footer-->
              <div class="modal-footer">
                  <input type="hidden" id="modifyCommentNo">
                <button class="btn btn-primary" id="saveCommentBtn">Save</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>