<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
 <div class="container-fluid">
        <a class="navbar-brand"onclick="nav_home()" href="#">Betty's</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" onclick="nav_home()" href="#">Home</a> </li>
                <li class="nav-item"> <a class="nav-link active" id="photo" onclick="nav_photo()" href="#">Photo</a></li>
                <li class="nav-item"> <a class="nav-link active" id="bbs" onclick="nav_bbs()" href="#">Bbs</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Visitor</a> </li>
            </ul>
            {% if session['userId'] == null%}
            <button class="btn btn-outline-success" onclick="nav_login()">Login</button>
            {%else%}
            <p class="nav_user"><span>{{ session['userName'] }}</span>님 환영합니다.</p>
            <button class="btn btn-outline-success" onclick="nav_logout()">Logout</button>
            {%endif%}
        </div>
    </div>
</nav>
<div class="mypic">
    <h1>Betty's PhotoBook</h1>
    <p>현재기온: <span id="temp">0.00</span>도</p>
</div>
</body>
</html>